<li class="dropdown">
    <a tabindex="0" data-toggle="dropdown" data-submenu="" href="{{ path('blog_index') }}" data-hover="dropdown">博客<span
                class="caret"></span></a>
    {{ category|raw }}
</li>
