{% extends "user/layout.html.twig" %}

{% block fos_user_content %}
    <div class="panel panel-default">
        <div class="panel-heading">用户密码修改</div>
        <div class="panel-body">
            {% include "user/ChangePassword/changePassword_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}