{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form "bootstrap_3_horizontal_layout.html.twig" %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'novalidate': 'novalidate','class': 'fos_user_change_password form-horizontal' } }) }}
    {{ form_widget(form) }}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
