{% extends "layouts/master.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
